@media (max-width: 782px) {
    .pantallaPrincipal{
        flex-direction: column;

    }
    #botonNav{
        display: flex;

    }
    
    #ulNav{
        display:none;
        flex-direction: column;
        justify-content: space-between;

    }
    body {
        background-color: blueviolet;
    }
    
    
    #navNav{
        display:flex;
        justify-content:space-evenly;
        
        
    }
    #ulNav img {
        width: 24px;
    }
    
    #containerDescripcionFormularioNuevoDiv {
        display: none;
    }
    .operacion {
        flex-direction: column;
        align-items: flex-start;
      }
    
    
    

}
