@media (max-width: 782px) {
    .pantallaPrincipal{
        flex-direction: column;

    }
    .botonNav{
        display: flex;

    }
    ul{
        display:flex;
        flex-direction: column;
        justify-content: space-between;

    }
    nav{
        display: flex;
        justify-content: space-around;
    }
    .containerDescripcionFormulario {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
    }
    .containerDescripcionFormulario p {
        display: none;
    }
    .fecha {
        display: none;
    }
    .containerDescripcionFormulario button {
        margin:0;
    }
    .containerDescripcionFormularioBoton {
        display: flex;
    }
    

}